@use 'lib' as *;

.body{
  background:rgba(255, 255, 255, 0.1);
  border-radius:500px;
  padding:12px;
  @include flex((jc:c, ai:c));
  gap:8px;
  width:100%;
  min-width:max-content;
  cursor:pointer;
  color:white;
  text-decoration: none;
}