@use 'lib' as *;

#body{
  width:100%;
  @include flex((jc:c));
}

#profilePic{
  border-radius: 50%;
  overflow: hidden;
  @include square(5rem);
  @include flex((jc:c, ai:c));
  img{
    width:100%;
  }
}

#me{
  @include flex((ai:c, fd:c));
  h1{
    font-size:1.7rem;
  }
  p{font-size:12px}
}